In [11]:
# Dependencies
import pandas as pd

In [12]:
# Store filepath in a variable
file_one = "Data/ttc-subway-delay-2019-master.csv"

In [13]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
subway_data_df = pd.read_csv(file_one, encoding="ISO-8859-1")
subway_data_df.head()

,id,date,time,day,station,code,min_delay,min_gap,bound,line,vehicle,code_info,latitude,longitude,line_name
0,1,2019-01-01,3:03,Tuesday,DUPONT STATION,MUATC,11,16,N,YU,6061,ATC Project,43.4029,-79.2425,Yonge University Spadina
1,2,2019-01-01,3:08,Tuesday,EGLINTON WEST STATION,EUATC,11,16,S,YU,5656,ATC RC&S Equipment,43.4157,-79.2609,Yonge University Spadina
2,3,2019-01-01,3:09,Tuesday,DUPONT STATION,EUATC,6,11,N,YU,5381,ATC RC&S Equipment,43.4029,-79.2425,Yonge University Spadina
3,4,2019-01-01,3:26,Tuesday,ST CLAIR WEST STATION,EUATC,4,9,N,YU,5571,ATC RC&S Equipment,43.4116,-79.2335,Yonge University Spadina
4,5,2019-01-01,8:04,Tuesday,DAVISVILLE STATION,MUNOA,5,10,S,YU,0,No Operator Immediately Available - Not E.S.A....,43.4152,-79.235,Yonge University Spadina

In [14]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [19]:
engine_heroku = create_engine('postgres://omtjgoefxknxjr:4dc783a299806ee57d98e35b67ccfbfc26f71b0f7ef0806de7a83021d71b69a8@ec2-184-72-236-57.compute-1.amazonaws.com:5432/d397mvjlukaah3')

In [14]:
subway_data_df.to_sql('ttc_subway_2019', con=engine_heroku, if_exists='replace', index=False)
#engine.execute('ALTER TABLE summary ADD PRIMARY KEY (id);')

NameError: name 'engine_heroku' is not defined

In [16]:
# Store filepath in a variable
file_two = "Data/TTC Stations In order by line.xlsx"

In [17]:
stations_data_df = pd.read_excel(file_two, encoding="ISO-8859-1")
stations_data_df.head()

                  station latitude  longitude                 line_name
0      VAUGHAN MC STATION  43.4739   -79.3139  Yonge University Spadina
1     HIGHWAY 407 STATION  43.4702   -79.3139  Yonge University Spadina
2  PIONEER VILLAGE STATIO  43.4637   -79.3034  Yonge University Spadina
3  YORK UNIVERSITY STATIO  43.7449   -79.4067  Yonge University Spadina
4      FINCH WEST STATION   43.465   -79.2453  Yonge University Spadina

In [20]:
stations_data_df.to_sql('station_in_line', con=engine_heroku, if_exists='replace', index=False)